.photo-item {
  height: 106px;
  padding: 8px 20px;

  &__content {
    height: 100%;
    border-radius: 16px;
    background-color: #fff;

    display: flex;
    align-items: center;
    padding: 18px;

    .item-thumbnail::part(image) {
      width: 56px;
      height: 56px;
      border-radius: 18px;
    }

    .item-label {
      margin-left: 18px;
      font-size: 18px;
    }
  }
}
